<div class="dashboard-container">
  <h1>📊 Dashboard</h1>

  <div class="stats-cards">
    <div class="card upload">
      <h2>Total Uploaded Documents</h2>
      <p>{{ totalUploadDoc }}</p>
    </div>

    <div class="card deleted">
      <h2>Total Deleted Documents</h2>
      <p>{{ totalDeletedDoc }}</p>
    </div>

    <div class="card viewed">
      <h2>Total Viewed Documents</h2>
      <p>{{ totalViewedDoc }}</p>
    </div>
  </div>

  <!-- <button (click)="logout()" class="logout-button">Logout</button> -->
</div>
